streamlit_ace
st-execbox
bokeh
matplotlib
graphviz
seaborn
plotly
https://core-previews.s3-us-west-2.amazonaws.com/dependabot/npm_and_yarn/frontend/plist-3.0.5-preview/streamlit-1.8.0-py2.py3-none-any.whl
