streamlit_ace
st-execbox
bokeh
matplotlib
graphviz
seaborn
plotly
https://core-previews.s3-us-west-2.amazonaws.com/dependabot/npm_and_yarn/frontend/prismjs-1.25.0-preview/streamlit-0.88.0-py2.py3-none-any.whl
